.idea
.idea/
.DS_Store
secure.txt
.mediawiki-bot-SatanicBot-cookies
list_user.txt
list_talk.txt
cookies.txt
cities.txt
houses.txt
races.txt
skills.txt
Mediawiki/
gcrollback.txt
gcrollback_failures.txt
